<a href="/tickets/new">Create new ticket</a>
<h1>Tickets list</h1>
<section>
  <table class="table table-striped table-bordered table-condensed">
  <% for @ticket in @tickets %>
    <tr>
      <td><%= @ticket.title %></td>
      <td><%= @ticket.description %></td>
      <td><%= @ticket.project_id %></td>
      <td><%= @ticket.created_at %></td>
      <td style="width: 90px;">
          <%= link_to "Remove", @ticket,class:"btn btn-danger" ,method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
  <% end %>
  </table>
  <p>
    Total tickets: <%= @tickets.length %>
  </p>
</section>