<div>
  <h3>Projects#new</h3>
  <%= render 'form' %>
</div>
<div>
  <h4>ProjectList</h4>
  <div>
    <table class="table table-striped table-bordered table-condensed table-hover">
      <% @project_list.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= project.created_at %>></td>
            <td style="width: 90px;">
              <%= link_to 'Remove', project,class:"btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
            </td>
            <td style="width: 60px;">
              <%= link_to 'Edit',edit_project_path(project),class:"btn btn-info" %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>



