<!DOCTYPE html>
<html>
<head>
  <title>TrackerTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "TrackerTest", root_path ,class: 'navbar-brand' %>
      </div>
      <div class="navbar-right">
        <% if user_signed_in? %>
            <p class="navbar-text">
              Logged as <%= current_user.email %>.
            </p>
            <p class="navbar-text">
              <%= link_to 'logout', destroy_user_session_path, :method => :delete, class: 'navbar-link' %>
            </p>
        <% else %>
              <p class="navbar-text">
                <%= link_to 'Register', new_user_registration_path, class: 'navbar-link' %>
              </p>
              <p class="navbar-text"> <%= link_to 'Login', new_user_session_path, class: 'navbar-link' %></p>
        <% end %>
      </div>
    </div>
  </nav>
</header>
<section>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</section>

<%= yield %>

</body>
</html>
